.option-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  gap: 20px;
}

.button {
  background-color: #ffd700;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 40px;
  box-shadow: 5px 5px 3px 3px #606060;
}

.select {
  background-color: #606060;
  border: none;
  border-radius: 10px;
  color: #f5f5f5;
  font-size: 16px;
  padding: 5px;
  height: 30px;
}

.select-container {
  background-color: #ffd700;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 3px #606060;
}
